<mat-card>
  <mat-card-title [routerLink]="navigate"> {{title}} </mat-card-title>
  <mat-card-content>
    <div class="search-box">
      <mat-form-field appearance="outline">
        <mat-icon>search</mat-icon>
        <input
          matInput
          type="text"
          [placeholder]="prompt"
          #chipInput
          [formControl]="chipCtrl"
          [matAutocomplete]="auto"
        />
      </mat-form-field>
      <mat-autocomplete
        #auto="matAutocomplete"
        (optionSelected)="selected($event)"
      >
        <mat-option *ngFor="let chip of filteredChips | async" [value]="chip">
          {{chip}}
        </mat-option>
      </mat-autocomplete>

      <mat-chip-list #allChips>
        <mat-chip
          *ngFor="let chip of selectedChips"
          aria-label="available items"
          [selectable]="selectable"
          [removable]="removable"
          (removed)="remove(chip)"
        >
          {{chip}}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
      </mat-chip-list>
    </div>
  </mat-card-content>
</mat-card>
