<div class="container padded-container">
<mat-card>
<div class="prtitle">Welcome to Event Orchestrator</div>
<div class="par">
  PavedRoad Event Orchestrator solves many challenging problems around the
  integration of SaaS platforms with CSP services. PavedRoad’s Event
  Orchestrator can trigger or redirect events to Lambda functions or directly to
  any other AWS or any other CSP services.
</div>

<div class="prtitle">
  Create Powerful Data Pipelines and Business Workflows Quickly and Easily
</div>

<div class="par">
  Modern applications are incredibly modular, in that they heavily utilize
  software from 3rd party SaaS providers to deliver functionality. These SaaS
  providers don’t let you run functions on their system, but they do emit
  events.
</div>

<div class="par">
  Event Orchestrator lets you subscribe functions to those events, regardless of
  where those functions are hosted and then use this to take action. You may
  pipe user data and activities, react to triggers such as payments being
  processed, automate workflows with functions running as listeners, the
  possibilities are endless.
</div>

<div class="par">
  Event Orchestrator may also be viewed as a fully-managed, real-time data
  ingestion service that is simple, secure, and scalable, enabling you to build
  dynamic data pipelines to address business challenges immediately.
</div>

<img src="/assets/images/eo.jpg" alt="Event Orchestrator" class="center" />

<div class="prtitle">
  Works with existing messages buses like Kafka
</div>

<div class="par">
  Event Orchestrator can enable existing Kafka clients and applications to
  coordinate, giving you a managed Kafka experience without having to manage
  your own clusters.
</div>

<div class="par">
  In event-driven architectures, it is crucially important to understand the
  application behavior and manage the application’s health. PavedRoad’s Event
  Orchestrator enables developers to make their event-driven architectures
  scalable for any event.
</div>

<div class="par">
  PavedRoad Event Orchestrator can be readily integrated with third-party SaaS
  offerings. This is a great way to process SaaS application data in a CSP
  environment using their services. Event Orchestrator perfectly fits with the
  event-driven paradigm on serverless architectures and is a completely
  customizable, managed service, highly scalable, reliable and robust.
</div>
<img src="/assets/images/eo2.png" alt="Event Orchestrator whit Kafka support" class="center" />
</mat-card>
</div>
