.toolbar-title {
  text-align: left;
  flex: 1 1 auto;
}

.navigation-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 988;
}

.toolbar-right-align {
  text-align: right;
  flex: 1 1 auto;
}

.mat-drawer-backdrop.mat-drawer-shown {
  visibility: hidden !important;
}

.menu-button {
  margin-left: 10px !important;
  box-shadow: 5px 5px;
}

.active_route {
}
