<div class="container"> 

  <h1>{{formtitle}}</h1>

  <form [formGroup]="companyFG" (ngSubmit)="onSubmit(companyFG.value)" novalidate>

  <mat-card>
    <mat-card-title>
      Company information
    </mat-card-title>
    <mat-card-content>

        <mat-form-field floatLabel="always" class="ng-valid">
          <mat-label for="name">Name</mat-label>
          <input matInput formControlName="name" id="name" maxlength="255"/>
          <mat-error *ngIf="companyFG.controls['name'].valid && (companyFG.controls['address'].dirty || companyFG.controls['address'].touched)" class="alert alert-danger">
            Name is required.
          </mat-error>
        </mat-form-field>

      <div>
      </div>

      <mat-divider [inset]="true">

      </mat-divider>

      <div> 
        <mat-form-field>
          <mat-label for="address">Address</mat-label>
          <input matInput formControlName="address" id="address" size=50/>
          <mat-error *ngIf="companyFG.controls['address'].invalid && (companyFG.controls['address'].dirty || companyFG.controls['address'].touched)" class="alert alert-danger">
            Address is required.
          </mat-error>
        </mat-form-field>
      </div>

      <div> 
      <mat-form-field>
          <mat-label for="city">City</mat-label>
          <input matInput formControlName="city" id="city"/>
      </mat-form-field>

      <mat-form-field>
         <mat-label for="state">State</mat-label>
         <input matInput formControlName="state" id="state"/>
      </mat-form-field>

      <mat-form-field>
         <mat-label for="zip">Zip code</mat-label>
         <input matInput formControlName="zip" id="zip"/>
      </mat-form-field>
      </div>


      <mat-error *ngIf="companyFG.controls['city'].invalid && (companyFG.controls['city'].dirty || companyFG.controls['city'].touched)" class="alert alert-danger">
        City is required.
      </mat-error>
      <mat-error *ngIf="companyFG.controls['state'].invalid && (companyFG.controls['state'].dirty || companyFG.controls['state'].touched)" class="alert alert-danger">
        State is required.
      </mat-error>
      <mat-error *ngIf="companyFG.controls['zip'].invalid && (companyFG.controls['zip'].dirty || companyFG.controls['zip'].touched)" class="alert alert-danger">
        Zip is required.
      </mat-error>
    </mat-card-content>
  </mat-card>
      <mat-divider></mat-divider>

  <div>
    <p></p>
  </div>

  <mat-card>
    <mat-card-title>
      Active services
    </mat-card-title>
    <mat-card-content>
      <table mat-table [dataSource]=dataSource matSort style="width: 100%;" class="mat-elevation-z8">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="plan">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Plan</th>
        <td mat-cell *matCellDef="let element"> {{element.plan}} </td>
      </ng-container>

      <ng-container matColumnDef="created">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class=mat-column-created>
          Created</th>
        <td mat-cell *matCellDef="let element"> {{element.created}} </td>
      </ng-container>

      <ng-container matColumnDef="configKey">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Config ID</th>
        <td mat-cell *matCellDef="let element"> {{element.configkey}} </td>
      </ng-container>

      <ng-container matColumnDef="active">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Enabled</th>
        <td mat-cell *matCellDef="let element"> {{element.active}} </td>
      </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </mat-card-content>
  </mat-card>


  <div>
    <p></p>
  </div>

    <div class="form-element">
      <button mat-raised-button color="primary" type="submit" class="button"
        [disabled]="isValid()">Submit Form</button>
    </div>

  </form>
</div>
