<div class="container padded-container">
  <div [hidden]="submitted">
    <h1 *ngIf="isAddMode">Add log source</h1>
    <h1 *ngIf="!isAddMode">Edit log source</h1>
    <h2>Customer {{customer.name}}</h2>

    <form #logitemForm="ngForm" (ngSubmit)="onSubmit(logitemForm)">
      <div class="form-group">
        <mat-form-field floatLabel="always" class="ng-valid">
          <mat-label for="name">Bucket</mat-label>
          <input
            matInput
            type="text"
            class="form-control"
            id="name"
            required
            name="name"
            [(ngModel)]="logitem.name"
            #name="ngModel"
            placeholder="your bucket name"
          />
          <mat-hint>
            Use the S3 bucket your logs are stored in as the event
            source</mat-hint
          >
          <div
            *ngIf="name.invalid && (name.dirty || name.touched)"
            class="alert"
          >
            Bucket is required
          </div>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field floatLabel="always" class="ng-valid">
          <mat-label for="provider">Provider</mat-label>
          <mat-select
            matNativeControl
            [(ngModel)]="providerSelected"
            required
            name="provider"
          >
            <mat-option value="" selected></mat-option>
            <mat-option *ngFor="let p of customer.providers" [value]="p.name">
              {{p.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <!-- div class="form-group" -->
      <div>
        <mat-form-field>
          <mat-label for="name">Log format</mat-label>
          <mat-select
            [(value)]="formatSelected"
            name="formatselected"
            [(ngModel)]="logitem.logFormat"
            #formatselected="ngModel"
          >
            <mat-option value="s3" selected>S3</mat-option>
            <mat-option value="w3c">W3C</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div>
        <mat-slide-toggle
          matInput
          id="bucket"
          name="bucket"
          [(ngModel)]="logitem.pruneAfterProcessing"
        >
          Prune after processing?
        </mat-slide-toggle>
      </div>

      <mat-divider style="margin: 20px;"></mat-divider>
        <h2>Filter log lines to event on</h2>
        <h3>Using S3 operation field</h3>

      <div class="form-group">
        <mat-form-field>
          <mat-label for="api">API type</mat-label>
          <input
            matInput
            type="text"
            class="form-control"
            id="apitype"
            name="apitype"
            [(ngModel)]="api"
            (ngModelChange)="api = $event.toUpperCase()"
            #apitype="ngModel"
            placeholder="REST,SOAP"
          />
          <mat-hint
            >A command separated list of API method Rest or Soap</mat-hint
          >
        </mat-form-field>

      </div>

      <div class="form-group">
        <mat-form-field>
          <mat-label for="httpmethods">HTTP Methods</mat-label>
          <input
            matInput
            type="text"
            class="form-control"
            id="httpmethods"
            name="httpmethods"
            [(ngModel)]="methods"
            (ngModelChange)="methods = $event.toUpperCase()"
            #httpmethods="ngModel"
            placeholder="GET,POST,PUT etc"
          />
          <mat-hint>A command separated list of HTTP methods</mat-hint>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field>
          <mat-label for="resourcetype">Resource types</mat-label>
          <input
            matInput
            type="text"
            class="form-control"
            id="resourcetype"
            name="resourcetype"
            [(ngModel)]="types"
            (ngModelChange)="types = $event.toUpperCase()"
            #resourcetype="ngModel"
            placeholder="OBJECT, etd"
          />
          <mat-hint>A command separated object types</mat-hint>
        </mat-form-field>
      </div>

      <button
        style="margin-top:25px;"
        mat-raised-button
        color="primary"
        [disabled]="logitemForm.form.invalid"
        type="submit"
      >
        {{buttonMode}}
      </button>
    </form>
  </div>
</div>
