<div class="container">
  <div [hidden]="submitted">
  <h1 *ngIf="isAddMode">Add log source</h1>
  <h1 *ngIf="!isAddMode">Edit log source</h1>
  <h2>Customer {{customer.name}}</h2>


  <form #lambdaForm="ngForm" (ngSubmit)="onSubmit(lambdaForm)">

    <div class="form-group">
      <label for="name">Trigger name</label>
      <input type="text" class="form-control" id="name" required name="name"
       [(ngModel)]="lambdaitem.name" #name="ngModel" placeholder="Name your trigger">
      <mat-hint>Human readable name for your trigger</mat-hint>
      <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert" >
        Name is required
      </div>
    </div>

    <div class="form-group">
      <label for="functionName">Function name</label>
      <input type="text" class="form-control" id="functionName" required name="functionName"
       [(ngModel)]="lambdaitem.functionName" #name="ngModel" placeholder="your lambda function">
      <mat-hint>The name of your AWS lambda function</mat-hint>
      <div *ngIf="name.invalid" class="alert" >
        A function name is required
      </div>
    </div>

    <div class="form-group">
      <label for="provider">Provider</label>
      <mat-select matNativeControl [(ngModel)]="providerSelected" required name="provider">
        <mat-option value="" selected></mat-option>
        <mat-option *ngFor="let p of customer.providers" [value]="p.name">
           {{p.name}}
        </mat-option>
      </mat-select>
    </div>

    <div class="form-group">
      <label for="region">CSP region</label>
      <input type="text" class="form-control" id="region" required name="region"
       [(ngModel)]="lambdaitem.region" #name="ngModel" placeholder="CSP region your function is deployed in">
      <mat-hint>A valid CSP region</mat-hint>
      <div *ngIf="name.invalid" class="alert" >
        Region is required
      </div>
    </div>

    <button [disabled]="lambdaForm.form.invalid"
      type="submit" class="btn btn-primary">
      {{buttonMode}}
    </button>

    </form>
  </div>
</div>

