<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile colspan="1" rowspan="1">
       <app-resources-consummed></app-resources-consummed>
    </mat-grid-tile>

    <mat-grid-tile colspan="1" rowspan="1">
       <app-events-generate></app-events-generate>
    </mat-grid-tile>

    <mat-grid-tile colspan="1" rowspan="1">
       <app-triggers-generated></app-triggers-generated>
    </mat-grid-tile>

    <mat-grid-tile colspan="1" rowspan="1">
       <app-sources></app-sources>
    </mat-grid-tile>

    <mat-grid-tile colspan="1" rowspan="1">
       <app-source-breakdown></app-source-breakdown>
    </mat-grid-tile>

  </mat-grid-list>
</div>
