<app-navigation-bar></app-navigation-bar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #navigationSidenav
    class="sidenav"
    fixedInViewport
    mode="side"
    role="navigation"
    fixedTopGap="64"
    autoFocus="false"
  >
    <mat-nav-list style="margin-left: 5px">
      <app-chip-selector
        [title]="'Source events'"
        [prompt]="'add filter options'"
        [navigate]="'/sources'"
        [allChips]="allSources"
        [selectedChips]="defaultsSources"
      >
      </app-chip-selector>

      <app-chip-selector
        [title]="'Trigger events'"
        [prompt]="'add filter options'"
        [navigate]="'/triggers'"
        [allChips]="allTriggers"
        [selectedChips]="defaultsTriggers"
      >
      </app-chip-selector>

      <app-chip-selector
        [title]="'Workflows'"
        [prompt]="'add filter options'"
        [navigate]="'/workflows'"
        [allChips]="allWorkflows"
        [selectedChips]="defaultsWorkflows"
      >
      </app-chip-selector>

      <app-chip-selector
        [title]="'Functions'"
        [prompt]="'add filter options'"
        [navigate]="'/functions'"
        [allChips]="allFunctions"
        [selectedChips]="defaultsFunctions"
      >
      </app-chip-selector>

    </mat-nav-list>
  </mat-sidenav>
  <router-outlet></router-outlet>
</mat-sidenav-container>
