<mat-card>
  <mat-card-header>
    <mat-card-title>{{title}}</mat-card-title>
    <mat-card-subtitle>{{subTitle}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="form">
      <table>
        <tr>
          <th class="table-header">Key</th>
          <th class="table-header">Value</th>
        </tr>
        <ng-container
          formArrayName="pairs"
          *ngFor="let kv of pairs.controls; let i = index"
        >
	<div formGroupName="{{i}}">
            <tr>
              <td>
                <mat-form-field appearance="fill">
                  <input
                    value="{{kv.get('key').value}}"
                    formControlName="key"
                    matInput
                    placeholder="key"
                  />
                </mat-form-field>
              </td>

              <td>
                <mat-form-field appearance="fill">
                  <input 
	          value="{{kv.get('value').value}}"
                  formControlName="value"
		  matInput placeholder="value " />
                </mat-form-field>

                <mat-icon class="delete-btn" (click)="delete(i) ">
                  delete_forever</mat-icon
                >
              </td>
            </tr>
	</div>
        </ng-container>
      </table>
    </form>
    <button mat-mini-fab (click)="add() ">
      <mat-icon>add</mat-icon>
    </button>
  </mat-card-content>
</mat-card>
