/* @import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');*/

.mat-focus-indicator, .mat-menu-item {
    background-color: transparent!important;
}

.mat-focus-indicator.mat-raised-button {
    background-color: #673ab7!important;
    color: black;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-untouched.ng-pristine.ng-invalid:not(form) {
   border-left: none; 
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

input[type="text"] {
  box-sizing: border-box;
  width: 100%;
  padding-left: 5px;
}

.alert div {
  background-color: #fed3d3;
  color: #820000;
  padding: 1rem;
  margin-bottom: 1rem;
}

.form-group {
  margin-bottom: 1rem;
}

label {
  display: block;
  margin-bottom: .5rem;
}

select {
  width: 100%;
  padding-left: 5px;
}

.mat-select-value-text {
  padding-left: 5px;
}
