@import "~@angular/material/theming";
@include mat-core();
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

/**
 * Global colors.
 */

$fortnigthly-primary-color: #ffffff;
$fortnigthly-secondary-color: #6B38FB;
$fortnigthly-warn: #383f42;
$fortnigthly-text-primary: #000000;
$fortnigthly-text-secondary: #ffffff;
$fortnigthly-default-hue: #ffffff;
$fortnigthly-lighter-hue: #ffffff;
$fortnigthly-darker-hue: #ffffff;
$fortnigthly-text-hue: #ffffff;

$fortnigthly-light-palette: (50: #FFFFFF,
100: #FAFAFA,
200: #F5F5F5,
300: #F0F0F0,
400: #dedede,
500: #c2c2c2,
600: #979797,
700: #818181,
800: #606060,
900: #3c3c3c,
A100: $fortnigthly-default-hue,
A200: $fortnigthly-lighter-hue,
A400: $fortnigthly-darker-hue,
A700: $fortnigthly-text-hue,
contrast: (50: $fortnigthly-text-primary, 100: $fortnigthly-text-primary, 200: $fortnigthly-text-primary, 300: $fortnigthly-text-primary, 400: $fortnigthly-text-primary, 500: $fortnigthly-text-primary, 600: $fortnigthly-text-primary, 700: $fortnigthly-text-primary, 800: $fortnigthly-text-primary, 900: $fortnigthly-text-primary, A100: $fortnigthly-text-secondary, A200: $fortnigthly-text-secondary, A400: $fortnigthly-text-secondary, A700: $fortnigthly-text-secondary, ),
);

$fortnigthly-accent-palette: (50: #FFFFFF,
100: #F0E8FE,
200: #D8C7FD,
300: #BDA2FE,
400: #A079FE,
500: #8759FD,
600: #6C38FB,
700: #5F33F4,
800: #4B2AEB,
900: #3324E6,
A100: #6C38FB,
A200: #6C38FB,
A400: #6C38FB,
A700: #6C38FB,
contrast: (50: $fortnigthly-text-secondary, 100: $fortnigthly-text-secondary, 200: $fortnigthly-text-secondary, 300: $fortnigthly-text-secondary, 400: $fortnigthly-text-secondary, 500: $fortnigthly-text-secondary, 600: $fortnigthly-text-secondary, 700: $fortnigthly-text-secondary, 800: $fortnigthly-text-secondary, 900: $fortnigthly-text-secondary, A100: $fortnigthly-text-primary, A200: $fortnigthly-text-primary, A400: $fortnigthly-text-primary, A700: $fortnigthly-text-primary, ),
);


$fortnigthly-primary: mat-palette($fortnigthly-light-palette);
$fortnigthly-accent: mat-palette($fortnigthly-accent-palette,
A200,
A100,
A400);
$fortnigthly-warn: mat-palette($mat-red);
$pr-font-family: "'Montserrat', sans-serif";
$typography: mat-typography-config($display-4: mat-typography-level(112px, $font-family: $pr-font-family),
$display-3: mat-typography-level(56px, $font-family: $pr-font-family),
$display-2: mat-typography-level(45px, $font-family: $pr-font-family),
$display-1: mat-typography-level(34px, $font-family: $pr-font-family),
$headline: mat-typography-level(24px, $font-family: $pr-font-family),
$title: mat-typography-level(20px, $font-family: $pr-font-family),
);
/*
@include angular-material-typography($typography);
$fortnigthly-theme: mat-light-theme($fortnigthly-primary,
$fortnigthly-accent,
$fortnigthly-warn);
@include angular-material-theme($fortnigthly-theme);
*/
html,
body {
    margin-top: 35px;
    height: 100%;
}

.padded-container {
    margin: 10px;
}


/*

// Create the theme object (a Sass map containing all of the palettes).
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.


.mat-app-background {
  background: $fortnigthly-primary;
}

.mat-form-field-wrapper {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  width: 90%;
}



.mat-button-wrapper {
  margin-top: 155px;
}

.mat-card {
  background: #000000;
}

.prtitle {
  margin-top: 10px;
  margin-bottom: 15px;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
}

.pr-green-snackbar {
  background: $fortnigthly-primary;
}

.pr-rose-snackbar {
  background: $fortnigthly-primary;
}

.pr-rust-snackbar {
  background: $fortnigthly-primary;
}

.pr-zinc-snackbar {
  background: $fortnigthly-primary;
}

.pr-yellow-snackbar {
  background: $fortnigthly-primary;
}

a {
  color: $fortnigthly-default-hue;
}
*/

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
