<div class="container padded-container">
  <div [hidden]="submitted">
    <h1 *ngIf="isAddMode">Add Provider</h1>
    <h1 *ngIf="!isAddMode">Edit Provider</h1>
    <h2>Customer {{customer.name}}</h2>

    <form #providerForm="ngForm" (ngSubmit)="onSubmit(providerForm)">
      <div class="form-group">
        <mat-form-field floatLabel="always" class="ng-valid">
          <mat-label for="name">Name</mat-label>
          <input
            matInput
            type="text"
            class="form-control"
            id="name"
            required
            name="name"
            [(ngModel)]="provider.name"
            #name="ngModel"
          />

          <div
            *ngIf="name.invalid && (name.dirty || name.touched)"
            class="alert"
          >
            Name is required
          </div>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field floatLabel="always" class="ng-valid">
          <mat-label for="credentials">Credentials</mat-label>
          <input
            matInput
            type="text"
            class="form-control"
            id="credentials"
            required
            name="credentials"
            [(ngModel)]="provider.credentials"
            #credentials="ngModel"
          />

          <div
            *ngIf="credentials.invalid && (credentials.dirty || credentials.touched)"
            class="alert"
          >
            Credentials is required
          </div>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field floatLabel="always" class="ng-valid">
          <mat-label for="key">Key</mat-label>
          <input
            matInput
            type="text"
            class="form-control"
            id="key"
            required
            [(ngModel)]="provider.key"
            name="key"
            #key="ngModel"
          />
          <div *ngIf="key.invalid && (key.dirty || key.touched)" class="alert">
            Key is required
          </div>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field floatLabel="always" class="ng-valid">
          <mat-label for="region">Region</mat-label>
          <input
            matInput
            type="text"
            class="form-control"
            id="region"
            required
            [(ngModel)]="provider.region"
            name="region"
            #region="ngModel"
          />
          <div
            *ngIf="region.invalid && (region.touched || region.dirty)"
            class="alert"
          >
            Region is required
          </div>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field floatLabel="always" class="ng-valid">
          <mat-label for="endpoint">Endpoint</mat-label>
          <input
            matInput
            type="text"
            id="endpoint"
            name="endpoint"
            class="form-control"
            required
            [(ngModel)]="provider.endpoint"
            #endpoint="ngModel"
          />
          <div
            *ngIf="endpoint.invalid && (endpoint.dirty || endpoint.touched)"
            class="alert"
          >
            Endpoint is required
          </div>
        </mat-form-field>
      </div>

      <button
        mat-raised-button
        color="primary"
        [disabled]="providerForm.form.invalid"
        type="submit"
      >
        {{buttonMode}}
      </button>
    </form>
  </div>
</div>
