<div class="container">
  <div [hidden]="submitted">


    <form #configForm="ngForm" (ngSubmit)="onSubmit(configForm)">
      <div class="form-group">

        <label for="poll">Poll interval</label>
        <input type="number" class="form-control" id="poll"
               required name="poll"
               [(ngModel)]="pollInterval" #name="ngModel">
      </div>

      <div class="form-group">
        <label for="numberOfWorkers">Number of workers</label>
        <input type="number" class="form-control" id="numberOfWorkers"
               required name="numberOfWorkers"
               [(ngModel)]="numberOfWorkers" #name="ngModel">
      </div>

      <button mat-raised-button color="primary"
        [disabled]="configForm.form.invalid"
        type="submit">
        Update
      </button>
    </form>
  </div>
</div>

