<mat-card>
  <mat-card-header>
    <mat-card-title>Log sources</mat-card-title>

    <mat-card-subtitle>
      Logs to generate events one
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <!-- div style="float:right;"-->
<table mat-table [dataSource]=dataSource matSort class="mat-elevation-z8">

  <!-- Checked Column -->
  <ng-container matColumnDef="checked">
      <th mat-header-cell *matHeaderCellDef>Check</th>
      <mat-cell *matCellDef="let element">
        <mat-checkbox [(ngModel)]="element.checked"></mat-checkbox>
      </mat-cell>
    </ng-container>

  <!-- ID Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header
      width="50px">
      ID
    </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <!-- Provider Column -->
  <ng-container matColumnDef="provider">
    <th mat-header-cell *matHeaderCellDef mat-sort-header width="100px">
      Provider
    </th>
    <td mat-cell *matCellDef="let element"> {{element.provider}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header width="150px"> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- log format Column -->
  <ng-container matColumnDef="logFormat">
    <th mat-header-cell *matHeaderCellDef mat-sort-header width="75px"> Format </th>
    <td mat-cell *matCellDef="let element"> {{element.logFormat}} </td>
  </ng-container>

  <!-- Prue Column -->
  <ng-container matColumnDef="pruneAfterProcessing">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      Prune
    </th>
    <td mat-cell *matCellDef="let element" style="margin-left: 5px;"> {{element.pruneAfterProcessing}} </td>
  </ng-container>

  <!-- Filter Column -->
  <ng-container matColumnDef="filterevents">
    width="50px" style="margin-right: 5px;">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      Filters
    </th>
    <td mat-cell *matCellDef="let element" style="margin-left: 5px;"> {{element.filterevents}} </td>
  </ng-container>


  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      Actions
    </th>
  <mat-cell *matCellDef="let element" >
    <a [routerLink]="['/provider', element.name]">
      <mat-icon aria-hidden="false" aria-label="edit selected items" 
       (click)="editProvider(element)" color="primary">
        edit
        </mat-icon>
      <mat-icon aria-hidden="false" aria-label="delete selected items"
       (click)="deleteProvider(element)" color="warn">
      delete
      </mat-icon>
      </a>
  </mat-cell>
</ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button
     (click)="openS3LogItem()"
     color="primary">New</button>
  </mat-card-actions>
</mat-card>

